# Pandas

Pandas is a library for data analysis and manipulation. It sits on top of numpy, and uses all of the functionality that we learned already. Two very powerful tools within the pandas libraries are Series and Dataframes. To learn more about what's possible with pandas, check out their [site]('https://pandas.pydata.org'), and [documentation]('https://pandas.pydata.org/pandas-docs/stable/'). 

## Installation: 

If you've installed your environment via downloading anaconda, you likely already have pandas installed. To check, enter the below command into your console: 

`conda list | grep pandas`

Otherwise, if you're using pip, install pandas with the below command via your command line: 

`pip install pandas`

Now let's import the data. For the sake of not having to write pd.<whatever>, we'll be importing series, and dataframe separately from pandas (to save on typing):

In [34]:
import numpy as np

import pandas as pd
from pandas import DataFrame
from pandas import Series



## Series

Series are a very powerful tool within pandas. Series are ultimately a wrapper on top of the numpy, but instead of just using arrays and matrices like in numpy, with series, we get to index our data.

In [2]:
fibonacciNumbers = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

mySeries = Series(fibonacciNumbers)
print(mySeries)

0     0
1     1
2     1
3     2
4     3
5     5
6     8
7    13
8    21
9    34
dtype: int64

What's happening above is that we have a list that we're passing into series, and we're getting back an indexed list of fibonacci numbers. To access these numbers, we'll use the indices just like how we would use an array for now. Let's grab the 7th fibonacci number:

In [3]:
mySeries[7]

13

It's not always the case that you'll want to have your series indexed by numbers though. Let's try being a bit more creative:

In [4]:
pseudonyms = ["scary", "posh", "sporty", "ginger", "baby"]
names = ["Mel B", "Victoria Beckham", "Mel C", "Geri Halliwell", "Emma Bunton"]

spiceGirls = Series(names, index=pseudonyms)
spiceGirls

scary                Mel B
posh      Victoria Beckham
sporty               Mel C
ginger      Geri Halliwell
baby           Emma Bunton
dtype: object

Unlike arrays, we don't want grab any of our data by numerical index anymore because, while our numerical index exists, we've added new indices for easier access. Ultimately, think of our index now as a dictionary (from the intro to python notebook):

In [5]:
spiceGirls[0]

'Mel B'

In [6]:
spiceGirls['scary']

'Mel B'

To find whether a specific person (or any key for that matter) is in a series, you need to use the `in` keyword:

In [7]:
'posh' in spiceGirls

True

Given that our series is now acting entirely like a dictionary, it is actually possible to convert the series itself to a dictionary (granted, by doing so, you would be losing a lot of functionality):

In [8]:
spiceGirlsDictionary = spiceGirls.to_dict()
spiceGirlsDictionary

{'scary': 'Mel B',
 'posh': 'Victoria Beckham',
 'sporty': 'Mel C',
 'ginger': 'Geri Halliwell',
 'baby': 'Emma Bunton'}

Since we can go from a series to a dictionary, it is also 100% the case that we can take any dictionary we have already created from somewhere else, and make a series out of it:

In [9]:
beastieBoysDictionary = {
    "mikeD": "Michael Diamond", 
    "MCA": "Adam Yauch", 
    "Ad-Rock": "Adam Horovitz"
}

beastieBoySeries = Series(beastieBoysDictionary)
beastieBoySeries

mikeD      Michael Diamond
MCA             Adam Yauch
Ad-Rock      Adam Horovitz
dtype: object

Similar to being able to search for boolean values in numpy, we can do the same in series. Let's try it first with some numerical data (let's shift to age):

In [10]:
nsyncAges = {
    "justinT": 38,
    "chrisK": 47,
    "joeyF": 42,
    "lanceB":  40,
    "jcC": 43
}

nsyncSeries = Series(nsyncAges)
nsyncSeries

justinT    38
chrisK     47
joeyF      42
lanceB     40
jcC        43
dtype: int64

In [11]:
olderThan40 = nsyncSeries > 40
olderThan40

justinT    False
chrisK      True
joeyF       True
lanceB     False
jcC         True
dtype: bool

In [12]:
nsyncSeries[olderThan40]

chrisK    47
joeyF     42
jcC       43
dtype: int64

It's also the case that you can add series together just like numpy arrays. By doing this, you're adding like to like:

In [13]:
nsyncSeries + nsyncSeries

justinT    76
chrisK     94
joeyF      84
lanceB     80
jcC        86
dtype: int64

Let's take a look at that again, but this time without Justin Timberlake:

In [14]:
nsyncAgesWithoutJT = {
    "chrisK": 47,
    "joeyF": 42,
    "lanceB":  40,
    "jcC": 43
}
nsyncMinusJT = Series(nsyncAgesWithoutJT)
nsyncMinusJT

chrisK    47
joeyF     42
lanceB    40
jcC       43
dtype: int64

Now let's add them together again to see what happens:

In [15]:
newNsyncSeries = nsyncMinusJT + nsyncSeries
newNsyncSeries

chrisK     94.0
jcC        86.0
joeyF      84.0
justinT     NaN
lanceB     80.0
dtype: float64

Because we're adding like with like, what's happening is that because there is no `justinT` in the second series, we're trying to add 38 to a number that doesn't exist in the second, so we wind up with `NaN`

You'll often want to find whether data don't exist in a given series. To do that, you'll need to use the pandas `pd.isna()` function to get a boolean array:

In [16]:
pd.isna(newNsyncSeries)

chrisK     False
jcC        False
joeyF      False
justinT     True
lanceB     False
dtype: bool

We can find the opposite with `pd.notna()`:

In [17]:
pd.notna(newNsyncSeries)

chrisK      True
jcC         True
joeyF       True
justinT    False
lanceB      True
dtype: bool

Because we're getting a boolean array back, we can filter on that data:

In [18]:
notMissingNsync = pd.notna(newNsyncSeries)

newNsyncSeries[notMissingNsync]

chrisK    94.0
jcC       86.0
joeyF     84.0
lanceB    80.0
dtype: float64

It's not always the case that you'll want to filter a series on a given number though. You can filter a series on anything that can return a truth value! Let's go back to beastie boys and filter on whether or not their names contain Adam. For this, we'll want to use the `seriesname.str.contains()` method:

In [19]:
beastieBoySeries.str.contains('Adam')

mikeD      False
MCA         True
Ad-Rock     True
dtype: bool

In [20]:
namedAdam = beastieBoySeries.str.contains('Adam')

beastieBoySeries[namedAdam]

MCA           Adam Yauch
Ad-Rock    Adam Horovitz
dtype: object

Series are very powerful datastructures, however, it's unlikely you'll be coming across a singular series of data. Most datasets out there are extremely large with many different features! Let's take a look at DataFrames: 

## DataFrames

You can think of dataframes in multiple ways. I personally like to think of dataframes as a giant spreadsheet that's living in memory, and being powered by a series of series (think of how we had the numpy matrix). 

Let's start with importing our dataframe from pandas and alias it as df:

In [21]:
from pandas import DataFrame as df

You can create your own dataframes in almost any number of ways. Let's take a look at creating our own from scratch, then we'll pull a dataframe from the internet:

In [22]:
batmanDF = pd.DataFrame({
               'born': [pd.Timestamp('1952-10-13'), 
                        pd.Timestamp('1984-04-17'),
                        None, 
                        pd.Timestamp('1943-02-04')],
                'name': ['Alfred', 
                         'Bruce Wayne', 
                         '????', 
                         'Victor Fries'],
                'pseudonym': [None, 
                          'Batman', 
                          'Joker', 
                          'Mr. Freeze']})

batmanDF

        born          name   pseudonym
0 1952-10-13        Alfred        None
1 1984-04-17   Bruce Wayne      Batman
2        NaT          ????       Joker
3 1943-02-04  Victor Fries  Mr. Freeze

In the above, we've created a very small dataframe from a dictionary with the keys as columns and their arrays as the row data (where the 0th index refers to Alfred, the 1st to Bruce Wayne, and so on). We can access each individual column by accessing its column name like a dictionary key:

In [23]:
batmanDF['name']

0          Alfred
1     Bruce Wayne
2            ????
3    Victor Fries
Name: name, dtype: object

What makes pandas' dataframes so powerful is that we can use what we have learned with series and numpy and apply it to much larger datasets. Let's take a look when we get a boolean array from `batmanDF['name']` and apply it to our whole dataframe:

In [24]:
isBruceWayne = batmanDF['name'] == 'Bruce Wayne'
isBruceWayne

0    False
1     True
2    False
3    False
Name: name, dtype: bool

In [25]:
batmanDF[isBruceWayne]

        born         name pseudonym
1 1984-04-17  Bruce Wayne    Batman

What just happened above is that we got a boolean array that returned true on a single object, and then when applied to our dataframe, we got that specific row! Equally, we can do the exact opposite with a `!=` (and this time, we'll do everything inline):

In [26]:
batmanDF[ batmanDF['name'] != 'Bruce Wayne' ]

        born          name   pseudonym
0 1952-10-13        Alfred        None
2        NaT          ????       Joker
3 1943-02-04  Victor Fries  Mr. Freeze

Those are the very basics of DataFrames, let's get a little bit more involved with our dataframes by calling an api and getting some star wars character data. To get this data, we'll have to import `requests`.

To install requests, if you have anaconda installed you should already have it (otherwise, type `conda install requests`), and if you're using pip, just enter into the command line: 

`pip install requests` 

Then we import it!

In [27]:
import requests

In [50]:
response = requests.get("https://swapi.co/api/people/")
response

Now that we have our response data, we need to get it into a useable format. Luckily, pandas is really good at reading lots of formats, and can easily take in JSON format). If you're interested in learning more about JSON, check out their [webpage]('https://www.json.org').

In [29]:
jsonResponse = response.json()
jsonResponse

{'count': 87,
 'next': 'https://swapi.co/api/people/?page=2',
 'previous': None,
 'results': [{'name': 'Luke Skywalker',
   'height': '172',
   'mass': '77',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '19BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/14/',
    'https://swapi.co/api/vehicles/30/'],
   'starships': ['https://swapi.co/api/starships/12/',
    'https://swapi.co/api/starships/22/'],
   'created': '2014-12-09T13:50:51.644000Z',
   'edited': '2014-12-20T21:17:56.891000Z',
   'url': 'https://swapi.co/api/people/1/'},
  {'name': 'C-3PO',
   'height': '167',
   'mass': '75',
   'hair_color': 'n/a',
   'skin_color': 'gold',
   'eye_color': 'yellow',
   'birth_year': '112BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:10:51.357000Z',
   'edited': '2014-12-20T21:17:50.309000Z',
   'url': 'https://swapi.co/api/people/2/'},
  {'name': 'R2-D2',
   'height': '96',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, blue',
   'eye_color': 'red',
   'birth_year': '33BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/8/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:11:50.376000Z',
   'edited': '2014-12-20T21:17:50.311000Z',
   'url': 'https://swapi.co/api/people/3/'},
  {'name': 'Darth Vader',
   'height': '202',
   'mass': '136',
   'hair_color': 'none',
   'skin_color': 'white',
   'eye_color': 'yellow',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/13/'],
   'created': '2014-12-10T15:18:20.704000Z',
   'edited': '2014-12-20T21:17:50.313000Z',
   'url': 'https://swapi.co/api/people/4/'},
  {'name': 'Leia Organa',
   'height': '150',
   'mass': '49',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '19BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.co/api/planets/2/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/30/'],
   'starships': [],
   'created': '2014-12-10T15:20:09.791000Z',
   'edited': '2014-12-20T21:17:50.315000Z',
   'url': 'https://swapi.co/api/people/5/'},
  {'name': 'Owen Lars',
   'height': '178',
   'mass': '120',
   'hair_color': 'brown, grey',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '52BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:52:14.024000Z',
   'edited': '2014-12-20T21:17:50.317000Z',
   'url': 'https://swapi.co/api/people/6/'},
  {'name': 'Beru Whitesun lars',
   'height': '165',
   'mass': '75',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '47BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:53:41.121000Z',
   'edited': '2014-12-20T21:17:50.319000Z',
   'url': 'https://swapi.co/api/people/7/'},
  {'name': 'R5-D4',
   'height': '97',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, red',
   'eye_color': 'red',
   'birth_year': 'unknown',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:57:50.959000Z',
   'edited': '2014-12-20T21:17:50.321000Z',
   'url': 'https://swapi.co/api/people/8/'},
  {'name': 'Biggs Darklighter',
   'height': '183',
   'mass': '84',
   'hair_color': 'black',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '24BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/12/'],
   'created': '2014-12-10T15:59:50.509000Z',
   'edited': '2014-12-20T21:17:50.323000Z',
   'url': 'https://swapi.co/api/people/9/'},
  {'name': 'Obi-Wan Kenobi',
   'height': '182',
   'mass': '77',
   'hair_color': 'auburn, white',
   'skin_color': 'fair',
   'eye_color': 'blue-gray',
   'birth_year': '57BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/20/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/38/'],
   'starships': ['https://swapi.co/api/starships/48/',
    'https://swapi.co/api/starships/59/',
    'https://swapi.co/api/starships/64/',
    'https://swapi.co/api/starships/65/',
    'https://swapi.co/api/starships/74/'],
   'created': '2014-12-10T16:16:29.192000Z',
   'edited': '2014-12-20T21:17:50.325000Z',
   'url': 'https://swapi.co/api/people/10/'}]}

In [32]:
jsonBody = jsonResponse["results"]
jsonBody

[{'name': 'Luke Skywalker',
  'height': '172',
  'mass': '77',
  'hair_color': 'blond',
  'skin_color': 'fair',
  'eye_color': 'blue',
  'birth_year': '19BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/',
   'https://swapi.co/api/films/7/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': ['https://swapi.co/api/vehicles/14/',
   'https://swapi.co/api/vehicles/30/'],
  'starships': ['https://swapi.co/api/starships/12/',
   'https://swapi.co/api/starships/22/'],
  'created': '2014-12-09T13:50:51.644000Z',
  'edited': '2014-12-20T21:17:56.891000Z',
  'url': 'https://swapi.co/api/people/1/'},
 {'name': 'C-3PO',
  'height': '167',
  'mass': '75',
  'hair_color': 'n/a',
  'skin_color': 'gold',
  'eye_color': 'yellow',
  'birth_year': '112BBY',
  'gender': 'n/a',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/5/',
   'https://swapi.co/api/films/4/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/2/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-10T15:10:51.357000Z',
  'edited': '2014-12-20T21:17:50.309000Z',
  'url': 'https://swapi.co/api/people/2/'},
 {'name': 'R2-D2',
  'height': '96',
  'mass': '32',
  'hair_color': 'n/a',
  'skin_color': 'white, blue',
  'eye_color': 'red',
  'birth_year': '33BBY',
  'gender': 'n/a',
  'homeworld': 'https://swapi.co/api/planets/8/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/5/',
   'https://swapi.co/api/films/4/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/',
   'https://swapi.co/api/films/7/'],
  'species': ['https://swapi.co/api/species/2/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-10T15:11:50.376000Z',
  'edited': '2014-12-20T21:17:50.311000Z',
  'url': 'https://swapi.co/api/people/3/'},
 {'name': 'Darth Vader',
  'height': '202',
  'mass': '136',
  'hair_color': 'none',
  'skin_color': 'white',
  'eye_color': 'yellow',
  'birth_year': '41.9BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': [],
  'starships': ['https://swapi.co/api/starships/13/'],
  'created': '2014-12-10T15:18:20.704000Z',
  'edited': '2014-12-20T21:17:50.313000Z',
  'url': 'https://swapi.co/api/people/4/'},
 {'name': 'Leia Organa',
  'height': '150',
  'mass': '49',
  'hair_color': 'brown',
  'skin_color': 'light',
  'eye_color': 'brown',
  'birth_year': '19BBY',
  'gender': 'female',
  'homeworld': 'https://swapi.co/api/planets/2/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/',
   'https://swapi.co/api/films/7/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': ['https://swapi.co/api/vehicles/30/'],
  'starships': [],
  'created': '2014-12-10T15:20:09.791000Z',
  'edited': '2014-12-20T21:17:50.315000Z',
  'url': 'https://swapi.co/api/people/5/'},
 {'name': 'Owen Lars',
  'height': '178',
  'mass': '120',
  'hair_color': 'brown, grey',
  'skin_color': 'light',
  'eye_color': 'blue',
  'birth_year': '52BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/5/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-10T15:52:14.024000Z',
  'edited': '2014-12-20T21:17:50.317000Z',
  'url': 'https://swapi.co/api/people/6/'},
 {'name': 'Beru Whitesun lars',
  'height': '165',
  'mass': '75',
  'hair_color': 'brown',
  'skin_color': 'light',
  'eye_color': 'blue',
  'birth_year': '47BBY',
  'gender': 'female',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/5/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-10T15:53:41.121000Z',
  'edited': '2014-12-20T21:17:50.319000Z',
  'url': 'https://swapi.co/api/people/7/'},
 {'name': 'R5-D4',
  'height': '97',
  'mass': '32',
  'hair_color': 'n/a',
  'skin_color': 'white, red',
  'eye_color': 'red',
  'birth_year': 'unknown',
  'gender': 'n/a',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/2/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-10T15:57:50.959000Z',
  'edited': '2014-12-20T21:17:50.321000Z',
  'url': 'https://swapi.co/api/people/8/'},
 {'name': 'Biggs Darklighter',
  'height': '183',
  'mass': '84',
  'hair_color': 'black',
  'skin_color': 'light',
  'eye_color': 'brown',
  'birth_year': '24BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.co/api/planets/1/',
  'films': ['https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': [],
  'starships': ['https://swapi.co/api/starships/12/'],
  'created': '2014-12-10T15:59:50.509000Z',
  'edited': '2014-12-20T21:17:50.323000Z',
  'url': 'https://swapi.co/api/people/9/'},
 {'name': 'Obi-Wan Kenobi',
  'height': '182',
  'mass': '77',
  'hair_color': 'auburn, white',
  'skin_color': 'fair',
  'eye_color': 'blue-gray',
  'birth_year': '57BBY',
  'gender': 'male',
  'homeworld': 'https://swapi.co/api/planets/20/',
  'films': ['https://swapi.co/api/films/2/',
   'https://swapi.co/api/films/5/',
   'https://swapi.co/api/films/4/',
   'https://swapi.co/api/films/6/',
   'https://swapi.co/api/films/3/',
   'https://swapi.co/api/films/1/'],
  'species': ['https://swapi.co/api/species/1/'],
  'vehicles': ['https://swapi.co/api/vehicles/38/'],
  'starships': ['https://swapi.co/api/starships/48/',
   'https://swapi.co/api/starships/59/',
   'https://swapi.co/api/starships/64/',
   'https://swapi.co/api/starships/65/',
   'https://swapi.co/api/starships/74/'],
  'created': '2014-12-10T16:16:29.192000Z',
  'edited': '2014-12-20T21:17:50.325000Z',
  'url': 'https://swapi.co/api/people/10/'}]

In [35]:
starWarsDF = DataFrame(jsonBody)

If we had wanted to save the reseponse into a file and read it back into the dataframe from the file system, we'd want to use `pd.read_json`. 

Let's start dipping into our data and see what we got.

In [38]:
starWarsDF.head()

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]

There are a lot of data in this dataframe, so let's see what we've got going for us by just looking at the columns:

In [40]:
starWarsDF.columns

Index(['birth_year', 'created', 'edited', 'eye_color', 'films', 'gender',
       'hair_color', 'height', 'homeworld', 'mass', 'name', 'skin_color',
       'species', 'starships', 'url', 'vehicles'],
      dtype='object')

Let's see how many characters we've receieved from our API call:

In [42]:
len(starWarsDF)

10

10 seems a little low for a series of multiple movies. Let's take a look at our whole dataframe:

In [43]:
starWarsDF

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]
5,52BBY,2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",male,"brown, grey",178,https://swapi.co/api/planets/1/,120,Owen Lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/6/,[]
6,47BBY,2014-12-10T15:53:41.121000Z,2014-12-20T21:17:50.319000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",female,brown,165,https://swapi.co/api/planets/1/,75,Beru Whitesun lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/7/,[]
7,unknown,2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,red,[https://swapi.co/api/films/1/],n/a,n/a,97,https://swapi.co/api/planets/1/,32,R5-D4,"white, red",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/8/,[]
8,24BBY,2014-12-10T15:59:50.509000Z,2014-12-20T21:17:50.323000Z,brown,[https://swapi.co/api/films/1/],male,black,183,https://swapi.co/api/planets/1/,84,Biggs Darklighter,light,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/12/],https://swapi.co/api/people/9/,[]
9,57BBY,2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,blue-gray,"[https://swapi.co/api/films/2/, https://swapi....",male,"auburn, white",182,https://swapi.co/api/planets/20/,77,Obi-Wan Kenobi,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/48/, https://s...",https://swapi.co/api/people/10/,[https://swapi.co/api/vehicles/38/]

It's a little hard to suss through all of the above dataframe, so let's just see what specific characters we've recieved from the api call:

In [44]:
starWarsDF['name']

0        Luke Skywalker
1                 C-3PO
2                 R2-D2
3           Darth Vader
4           Leia Organa
5             Owen Lars
6    Beru Whitesun lars
7                 R5-D4
8     Biggs Darklighter
9        Obi-Wan Kenobi
Name: name, dtype: object

Clearly we didn't grab every single star wars character in the entire saga. Let's take a look at our response again just to make sure of what we're getting:

In [45]:
jsonResponse

{'count': 87,
 'next': 'https://swapi.co/api/people/?page=2',
 'previous': None,
 'results': [{'name': 'Luke Skywalker',
   'height': '172',
   'mass': '77',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '19BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/14/',
    'https://swapi.co/api/vehicles/30/'],
   'starships': ['https://swapi.co/api/starships/12/',
    'https://swapi.co/api/starships/22/'],
   'created': '2014-12-09T13:50:51.644000Z',
   'edited': '2014-12-20T21:17:56.891000Z',
   'url': 'https://swapi.co/api/people/1/'},
  {'name': 'C-3PO',
   'height': '167',
   'mass': '75',
   'hair_color': 'n/a',
   'skin_color': 'gold',
   'eye_color': 'yellow',
   'birth_year': '112BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:10:51.357000Z',
   'edited': '2014-12-20T21:17:50.309000Z',
   'url': 'https://swapi.co/api/people/2/'},
  {'name': 'R2-D2',
   'height': '96',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, blue',
   'eye_color': 'red',
   'birth_year': '33BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/8/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:11:50.376000Z',
   'edited': '2014-12-20T21:17:50.311000Z',
   'url': 'https://swapi.co/api/people/3/'},
  {'name': 'Darth Vader',
   'height': '202',
   'mass': '136',
   'hair_color': 'none',
   'skin_color': 'white',
   'eye_color': 'yellow',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/13/'],
   'created': '2014-12-10T15:18:20.704000Z',
   'edited': '2014-12-20T21:17:50.313000Z',
   'url': 'https://swapi.co/api/people/4/'},
  {'name': 'Leia Organa',
   'height': '150',
   'mass': '49',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '19BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.co/api/planets/2/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/30/'],
   'starships': [],
   'created': '2014-12-10T15:20:09.791000Z',
   'edited': '2014-12-20T21:17:50.315000Z',
   'url': 'https://swapi.co/api/people/5/'},
  {'name': 'Owen Lars',
   'height': '178',
   'mass': '120',
   'hair_color': 'brown, grey',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '52BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:52:14.024000Z',
   'edited': '2014-12-20T21:17:50.317000Z',
   'url': 'https://swapi.co/api/people/6/'},
  {'name': 'Beru Whitesun lars',
   'height': '165',
   'mass': '75',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '47BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:53:41.121000Z',
   'edited': '2014-12-20T21:17:50.319000Z',
   'url': 'https://swapi.co/api/people/7/'},
  {'name': 'R5-D4',
   'height': '97',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, red',
   'eye_color': 'red',
   'birth_year': 'unknown',
   'gender': 'n/a',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:57:50.959000Z',
   'edited': '2014-12-20T21:17:50.321000Z',
   'url': 'https://swapi.co/api/people/8/'},
  {'name': 'Biggs Darklighter',
   'height': '183',
   'mass': '84',
   'hair_color': 'black',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '24BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/12/'],
   'created': '2014-12-10T15:59:50.509000Z',
   'edited': '2014-12-20T21:17:50.323000Z',
   'url': 'https://swapi.co/api/people/9/'},
  {'name': 'Obi-Wan Kenobi',
   'height': '182',
   'mass': '77',
   'hair_color': 'auburn, white',
   'skin_color': 'fair',
   'eye_color': 'blue-gray',
   'birth_year': '57BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/20/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/38/'],
   'starships': ['https://swapi.co/api/starships/48/',
    'https://swapi.co/api/starships/59/',
    'https://swapi.co/api/starships/64/',
    'https://swapi.co/api/starships/65/',
    'https://swapi.co/api/starships/74/'],
   'created': '2014-12-10T16:16:29.192000Z',
   'edited': '2014-12-20T21:17:50.325000Z',
   'url': 'https://swapi.co/api/people/10/'}]}

It's always good to double check what's in our data before we start working with it! We can see that there are 87 characters, but we only grabbed 10 in our dataframe. There's one key that we should absolutely take note of, and that's the `next` key. In order to keep our api calls quick, the data have been paginated into segments of 10 characters, so we'll need to make 9 calls in total! First, let's make a call to see what the next page is:

In [48]:
nextPageURI = jsonResponse["next"]
nextPageURI

'https://swapi.co/api/people/?page=2'

In [52]:
nextPage = requests.get(nextPageURI)
nextPage

In [54]:
nextPageJSON = nextPage.json()
nextPageJSON

{'count': 87,
 'next': 'https://swapi.co/api/people/?page=3',
 'previous': 'https://swapi.co/api/people/?page=1',
 'results': [{'name': 'Anakin Skywalker',
   'height': '188',
   'mass': '84',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/1/',
   'films': ['https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/44/',
    'https://swapi.co/api/vehicles/46/'],
   'starships': ['https://swapi.co/api/starships/59/',
    'https://swapi.co/api/starships/65/',
    'https://swapi.co/api/starships/39/'],
   'created': '2014-12-10T16:20:44.310000Z',
   'edited': '2014-12-20T21:17:50.327000Z',
   'url': 'https://swapi.co/api/people/11/'},
  {'name': 'Wilhuff Tarkin',
   'height': '180',
   'mass': 'unknown',
   'hair_color': 'auburn, grey',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '64BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/21/',
   'films': ['https://swapi.co/api/films/6/', 'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T16:26:56.138000Z',
   'edited': '2014-12-20T21:17:50.330000Z',
   'url': 'https://swapi.co/api/people/12/'},
  {'name': 'Chewbacca',
   'height': '228',
   'mass': '112',
   'hair_color': 'brown',
   'skin_color': 'unknown',
   'eye_color': 'blue',
   'birth_year': '200BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/14/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/3/'],
   'vehicles': ['https://swapi.co/api/vehicles/19/'],
   'starships': ['https://swapi.co/api/starships/10/',
    'https://swapi.co/api/starships/22/'],
   'created': '2014-12-10T16:42:45.066000Z',
   'edited': '2014-12-20T21:17:50.332000Z',
   'url': 'https://swapi.co/api/people/13/'},
  {'name': 'Han Solo',
   'height': '180',
   'mass': '80',
   'hair_color': 'brown',
   'skin_color': 'fair',
   'eye_color': 'brown',
   'birth_year': '29BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/22/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/',
    'https://swapi.co/api/films/7/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/10/',
    'https://swapi.co/api/starships/22/'],
   'created': '2014-12-10T16:49:14.582000Z',
   'edited': '2014-12-20T21:17:50.334000Z',
   'url': 'https://swapi.co/api/people/14/'},
  {'name': 'Greedo',
   'height': '173',
   'mass': '74',
   'hair_color': 'n/a',
   'skin_color': 'green',
   'eye_color': 'black',
   'birth_year': '44BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/23/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/4/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T17:03:30.334000Z',
   'edited': '2014-12-20T21:17:50.336000Z',
   'url': 'https://swapi.co/api/people/15/'},
  {'name': 'Jabba Desilijic Tiure',
   'height': '175',
   'mass': '1,358',
   'hair_color': 'n/a',
   'skin_color': 'green-tan, brown',
   'eye_color': 'orange',
   'birth_year': '600BBY',
   'gender': 'hermaphrodite',
   'homeworld': 'https://swapi.co/api/planets/24/',
   'films': ['https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/5/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T17:11:31.638000Z',
   'edited': '2014-12-20T21:17:50.338000Z',
   'url': 'https://swapi.co/api/people/16/'},
  {'name': 'Wedge Antilles',
   'height': '170',
   'mass': '77',
   'hair_color': 'brown',
   'skin_color': 'fair',
   'eye_color': 'hazel',
   'birth_year': '21BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/22/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/3/',
    'https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': ['https://swapi.co/api/vehicles/14/'],
   'starships': ['https://swapi.co/api/starships/12/'],
   'created': '2014-12-12T11:08:06.469000Z',
   'edited': '2014-12-20T21:17:50.341000Z',
   'url': 'https://swapi.co/api/people/18/'},
  {'name': 'Jek Tono Porkins',
   'height': '180',
   'mass': '110',
   'hair_color': 'brown',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': 'unknown',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/26/',
   'films': ['https://swapi.co/api/films/1/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': ['https://swapi.co/api/starships/12/'],
   'created': '2014-12-12T11:16:56.569000Z',
   'edited': '2014-12-20T21:17:50.343000Z',
   'url': 'https://swapi.co/api/people/19/'},
  {'name': 'Yoda',
   'height': '66',
   'mass': '17',
   'hair_color': 'white',
   'skin_color': 'green',
   'eye_color': 'brown',
   'birth_year': '896BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/28/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/'],
   'species': ['https://swapi.co/api/species/6/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-15T12:26:01.042000Z',
   'edited': '2014-12-20T21:17:50.345000Z',
   'url': 'https://swapi.co/api/people/20/'},
  {'name': 'Palpatine',
   'height': '170',
   'mass': '75',
   'hair_color': 'grey',
   'skin_color': 'pale',
   'eye_color': 'yellow',
   'birth_year': '82BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.co/api/planets/8/',
   'films': ['https://swapi.co/api/films/2/',
    'https://swapi.co/api/films/5/',
    'https://swapi.co/api/films/4/',
    'https://swapi.co/api/films/6/',
    'https://swapi.co/api/films/3/'],
   'species': ['https://swapi.co/api/species/1/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-15T12:48:05.971000Z',
   'edited': '2014-12-20T21:17:50.347000Z',
   'url': 'https://swapi.co/api/people/21/'}]}

So, now we've got a whole new page of new materials! Let's add it to a dataframe and combine the two!

In [56]:
secondPageDataframe = DataFrame(nextPageJSON['results'])
secondPageDataframe.head()

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,41.9BBY,2014-12-10T16:20:44.310000Z,2014-12-20T21:17:50.327000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",male,blond,188,https://swapi.co/api/planets/1/,84,Anakin Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/59/, https://s...",https://swapi.co/api/people/11/,"[https://swapi.co/api/vehicles/44/, https://sw..."
1,64BBY,2014-12-10T16:26:56.138000Z,2014-12-20T21:17:50.330000Z,blue,"[https://swapi.co/api/films/6/, https://swapi....",male,"auburn, grey",180,https://swapi.co/api/planets/21/,unknown,Wilhuff Tarkin,fair,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/12/,[]
2,200BBY,2014-12-10T16:42:45.066000Z,2014-12-20T21:17:50.332000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,brown,228,https://swapi.co/api/planets/14/,112,Chewbacca,unknown,[https://swapi.co/api/species/3/],"[https://swapi.co/api/starships/10/, https://s...",https://swapi.co/api/people/13/,[https://swapi.co/api/vehicles/19/]
3,29BBY,2014-12-10T16:49:14.582000Z,2014-12-20T21:17:50.334000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",male,brown,180,https://swapi.co/api/planets/22/,80,Han Solo,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/10/, https://s...",https://swapi.co/api/people/14/,[]
4,44BBY,2014-12-10T17:03:30.334000Z,2014-12-20T21:17:50.336000Z,black,[https://swapi.co/api/films/1/],male,n/a,173,https://swapi.co/api/planets/23/,74,Greedo,green,[https://swapi.co/api/species/4/],[],https://swapi.co/api/people/15/,[]

To add two dataframes together, we can just concatenate them by placing each of them as an element in an array, and concatenating the array. Let's take a look at both, then concatenate them to see what we get:

In [57]:
starWarsDF

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]
5,52BBY,2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",male,"brown, grey",178,https://swapi.co/api/planets/1/,120,Owen Lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/6/,[]
6,47BBY,2014-12-10T15:53:41.121000Z,2014-12-20T21:17:50.319000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",female,brown,165,https://swapi.co/api/planets/1/,75,Beru Whitesun lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/7/,[]
7,unknown,2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,red,[https://swapi.co/api/films/1/],n/a,n/a,97,https://swapi.co/api/planets/1/,32,R5-D4,"white, red",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/8/,[]
8,24BBY,2014-12-10T15:59:50.509000Z,2014-12-20T21:17:50.323000Z,brown,[https://swapi.co/api/films/1/],male,black,183,https://swapi.co/api/planets/1/,84,Biggs Darklighter,light,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/12/],https://swapi.co/api/people/9/,[]
9,57BBY,2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,blue-gray,"[https://swapi.co/api/films/2/, https://swapi....",male,"auburn, white",182,https://swapi.co/api/planets/20/,77,Obi-Wan Kenobi,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/48/, https://s...",https://swapi.co/api/people/10/,[https://swapi.co/api/vehicles/38/]

In [58]:
secondPageDataframe

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,41.9BBY,2014-12-10T16:20:44.310000Z,2014-12-20T21:17:50.327000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",male,blond,188,https://swapi.co/api/planets/1/,84,Anakin Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/59/, https://s...",https://swapi.co/api/people/11/,"[https://swapi.co/api/vehicles/44/, https://sw..."
1,64BBY,2014-12-10T16:26:56.138000Z,2014-12-20T21:17:50.330000Z,blue,"[https://swapi.co/api/films/6/, https://swapi....",male,"auburn, grey",180,https://swapi.co/api/planets/21/,unknown,Wilhuff Tarkin,fair,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/12/,[]
2,200BBY,2014-12-10T16:42:45.066000Z,2014-12-20T21:17:50.332000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,brown,228,https://swapi.co/api/planets/14/,112,Chewbacca,unknown,[https://swapi.co/api/species/3/],"[https://swapi.co/api/starships/10/, https://s...",https://swapi.co/api/people/13/,[https://swapi.co/api/vehicles/19/]
3,29BBY,2014-12-10T16:49:14.582000Z,2014-12-20T21:17:50.334000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",male,brown,180,https://swapi.co/api/planets/22/,80,Han Solo,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/10/, https://s...",https://swapi.co/api/people/14/,[]
4,44BBY,2014-12-10T17:03:30.334000Z,2014-12-20T21:17:50.336000Z,black,[https://swapi.co/api/films/1/],male,n/a,173,https://swapi.co/api/planets/23/,74,Greedo,green,[https://swapi.co/api/species/4/],[],https://swapi.co/api/people/15/,[]
5,600BBY,2014-12-10T17:11:31.638000Z,2014-12-20T21:17:50.338000Z,orange,"[https://swapi.co/api/films/4/, https://swapi....",hermaphrodite,n/a,175,https://swapi.co/api/planets/24/,"1,358",Jabba Desilijic Tiure,"green-tan, brown",[https://swapi.co/api/species/5/],[],https://swapi.co/api/people/16/,[]
6,21BBY,2014-12-12T11:08:06.469000Z,2014-12-20T21:17:50.341000Z,hazel,"[https://swapi.co/api/films/2/, https://swapi....",male,brown,170,https://swapi.co/api/planets/22/,77,Wedge Antilles,fair,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/12/],https://swapi.co/api/people/18/,[https://swapi.co/api/vehicles/14/]
7,unknown,2014-12-12T11:16:56.569000Z,2014-12-20T21:17:50.343000Z,blue,[https://swapi.co/api/films/1/],male,brown,180,https://swapi.co/api/planets/26/,110,Jek Tono Porkins,fair,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/12/],https://swapi.co/api/people/19/,[]
8,896BBY,2014-12-15T12:26:01.042000Z,2014-12-20T21:17:50.345000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",male,white,66,https://swapi.co/api/planets/28/,17,Yoda,green,[https://swapi.co/api/species/6/],[],https://swapi.co/api/people/20/,[]
9,82BBY,2014-12-15T12:48:05.971000Z,2014-12-20T21:17:50.347000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,grey,170,https://swapi.co/api/planets/8/,75,Palpatine,pale,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/21/,[]

It's not always the case that you'll be wanting all of the data that come from an api (for our purposes, we don't even care about metadata such as "created and edited"), so let's drop a couple of columns. The axis parameter is specifying whether or not we want to drop a specific column index, or a specific row index:

In [115]:
starWarsDF.drop(['created'], axis=1)

,birth_year,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]
5,52BBY,2014-12-20T21:17:50.317000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",male,"brown, grey",178,https://swapi.co/api/planets/1/,120,Owen Lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/6/,[]
6,47BBY,2014-12-20T21:17:50.319000Z,blue,"[https://swapi.co/api/films/5/, https://swapi....",female,brown,165,https://swapi.co/api/planets/1/,75,Beru Whitesun lars,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/7/,[]
7,unknown,2014-12-20T21:17:50.321000Z,red,[https://swapi.co/api/films/1/],n/a,n/a,97,https://swapi.co/api/planets/1/,32,R5-D4,"white, red",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/8/,[]
8,24BBY,2014-12-20T21:17:50.323000Z,brown,[https://swapi.co/api/films/1/],male,black,183,https://swapi.co/api/planets/1/,84,Biggs Darklighter,light,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/12/],https://swapi.co/api/people/9/,[]
9,57BBY,2014-12-20T21:17:50.325000Z,blue-gray,"[https://swapi.co/api/films/2/, https://swapi....",male,"auburn, white",182,https://swapi.co/api/planets/20/,77,Obi-Wan Kenobi,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/48/, https://s...",https://swapi.co/api/people/10/,[https://swapi.co/api/vehicles/38/]

You might be likely to think that since we've called "drop" we therefore have dropped the dataframe. You'd be wrong. Pandas functions don't typically follow in-place mutations, and follow a generally functional framework. You can work with this in multiple ways: 

1. You can create a brand new dataframe (recommended)
2. You can use the inplace parameter. 
3. You can self assign the dataframe after the function call

If you are going to mutate your dataframe, I'd recommend using the inplace modifier. 

Two things of note below: 
1. Notice that instead of one column, we're now sending in two? The column list is an array and can take as many columns as you can put in.
2. We're going to be using the inplace parameter set to true, so that that once we call the funciton we will be dropping our columns.

In [118]:
starWarsDF.drop(['created', 'edited'], axis=1, inplace=True)

In [120]:
starWarsDF.head()

,birth_year,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]

Now let's remove a few of the URL-encoded data. We may want to work with this later, so let's generage a list of columns that don't contain URLs

In [137]:
columnsWithLinks = ['films', 'homeworld', 'species', 'starships', 'url', 'vehicles']

In [140]:
basicCharacterData = starWarsDF.drop(columnsWithLinks, axis=1) # inplace is by default false
basicCharacterData.head()

,birth_year,eye_color,gender,hair_color,height,mass,name,skin_color
0,19BBY,blue,male,blond,172,77,Luke Skywalker,fair
1,112BBY,yellow,n/a,n/a,167,75,C-3PO,gold
2,33BBY,red,n/a,n/a,96,32,R2-D2,"white, blue"
3,41.9BBY,yellow,male,none,202,136,Darth Vader,white
4,19BBY,brown,female,brown,150,49,Leia Organa,light

Now that we have data we want, let's look at some data:

In [142]:
uniqEyeColors = basicCharacterData['eye_color'].unique()

In [143]:
uniqEyeColors

array(['blue', 'yellow', 'red', 'brown', 'blue-gray'], dtype=object)

In [176]:
groupedData = basicCharacterData.groupby('eye_color')
groupedData.first()

,birth_year,gender,hair_color,height,mass,name,skin_color
eye_color,,,,,,,
blue,19BBY,male,blond,172,77,Luke Skywalker,fair
blue-gray,57BBY,male,"auburn, white",182,77,Obi-Wan Kenobi,fair
brown,19BBY,female,brown,150,49,Leia Organa,light
red,33BBY,n/a,n/a,96,32,R2-D2,"white, blue"
yellow,112BBY,n/a,n/a,167,75,C-3PO,gold

In [178]:
groupedData.get_group('yellow')

  birth_year gender hair_color height mass         name skin_color
1     112BBY    n/a        n/a    167   75        C-3PO       gold
3    41.9BBY   male       none    202  136  Darth Vader      white

You can group by multiple data as well if it is relevant:

In [161]:
basicCharacterData.groupby(['height', 'mass']).first()

,,birth_year,eye_color,gender,hair_color,name,skin_color
height,mass,,,,,,
150,49,19BBY,brown,female,brown,Leia Organa,light
165,75,47BBY,blue,female,brown,Beru Whitesun lars,light
167,75,112BBY,yellow,n/a,n/a,C-3PO,gold
172,77,19BBY,blue,male,blond,Luke Skywalker,fair
178,120,52BBY,blue,male,"brown, grey",Owen Lars,light
182,77,57BBY,blue-gray,male,"auburn, white",Obi-Wan Kenobi,fair
183,84,24BBY,brown,male,black,Biggs Darklighter,light
202,136,41.9BBY,yellow,male,none,Darth Vader,white
96,32,33BBY,red,n/a,n/a,R2-D2,"white, blue"
97,32,unknown,red,n/a,n/a,R5-D4,"white, red"